<section [id]="currentLabel" *ngIf="dictionary">
  <div class="intro-texts">
    <h3> {{ dictionary.intro.greetings }} </h3>
    <h2> {{ dictionary.intro.presentation }} <span class="highlight-text"> {{ getFirstName() }}</span>! </h2>
    <div>
      <h1 class="typing-text"> {{ dictionary.intro.dynamic_text }} </h1>
    </div>
  </div>

  <img [src]="returnImagePath()" alt="Profile picture of Augusto Seabra" />

  <div class="intro-button">
    <button type="button" class="flag-button" (click)="call()">
      {{ dictionary.intro.contact_button }}
    </button>
  </div>
</section>