
@import '../../../../scss/base/variables';

:host {
  .intro-texts {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--bold-weight);
  
    h3, h2 {
      width: 100%;
    }
  
    h1, h2, h2 span, h3 {
      font-size: var(--fs-lg);
    }
  }

  img {
    margin: var(--spacing-lg) 0;
  }

  @media screen and (min-width: $large-screen) {
    section {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .intro-texts {
      width: 40%;
    }

    .intro-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}