:root {
  // spacing
  --spacing-sm: .313rem; // 5px
  --spacing-md: .5rem; // 8px
  --spacing-md-2: .9rem; // 14.4px
  --spacing-lg: 1rem; // 16px
  --spacing-xl: 1.5rem; // 24px
  --spacing-xxl: 2rem; // 32px
  --spacing-xxxl: 3.563rem; // 57px
  --spacing-huge: 5rem; // 80px
  // font-size
  --fs-xs: .8rem; // 12.8px
  --fs-sm: 1rem; // 16px
  --fs-md: 1.20rem; // 19.2px
  --fs-lg: 1.5rem; // 24px
  --fs-xl: 2rem; // 32px
  // text-decoration
  --bold-weight: 700;
  // borders
  --border-thin: .063rem; // 1px
  --border-thick: .125rem; // 2px
  --border-thicker: .188rem; // 3px
  // border radius
  --border-radius-sm: .313rem; // 5px
  --border-radius-md: .5rem; // 8px
  --border-radius-lg: 2rem; // 8px
  // box shadow
  --box-shadow-sm: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  --box-shadow-md: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  // colors
  --white: #FFF;
  --black: #222;
  --primary: #F44E4E;
  --secondary: #3E4246;
  --light-gray: #CCC;
  --transparent-gray: rgba(180, 180, 180, .25)
}