:root {
  // spacing
  --spacing-sm: .313rem; // 5px
  --spacing-md: .5rem; // 8px
  --spacing-lg: 1rem; // 16px
  --spacing-xl: 1.5rem; // 24px
  --spacing-xxl: 2rem; // 32px
  --spacing-xxxl: 3.563rem; // 57px
  --spacing-huge: 5rem; // 80px
  // font-size
  --fs-sm: .5rem; // 8px
  --fs-md: 1rem; // 16px
  --fs-lg: 1.5rem; // 24px
  // text-decoration
  --bold-weight: 700;
  // borders
  --border-thin: .063rem; // 1px
  --border-thick: .125rem; // 2px
  // border radius
  --border-radius-sm: .313rem; // 5px
  --border-radius-md: .5rem; // 8px
  // colors
  --white: #FFF;
  --black: #222;
  --primary: #F44E4E;
}