:root {
  // spacing
  --spacing-sm: .3rem;
  --spacing-md: .5rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxxl: 5rem;
  // font-size
  --fs-sm: .5rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  // colors
  --white: #FFF;
  --black: #222;
}