:host {
  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--spacing-lg);
    height: var(--spacing-xxxl);
  }
}