:host {
  section {
    position: relative;
  }

  ul {
    flex: 1;
    margin: var(--spacing-xxl) 0;
    padding: 0 var(--spacing-lg);
    width: 100%;

    li {
      width: 100%;
      margin-bottom: var(--spacing-lg);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--spacing-md);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--light-gray);
    p {
      font-size: var(--fs-xs);
    }
  }
}