@import '../../../../scss/base/variables';

:host {
  ul {
    flex: 1;
    margin: var(--spacing-xxl) 0 0 0;
    padding: 0 var(--spacing-lg);
    width: 100%;
    max-height: calc(100% - (48px + 34px + 38px));

    li {
      width: 100%;
      margin-bottom: var(--spacing-lg);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  footer {
    width: 100%;
    padding: var(--spacing-md);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--light-gray);
    p {
      font-size: var(--fs-xs);
    }
  }

  @media screen and (min-width: $large-screen) {
    section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      order: -2;
    }
    
    ul {
      order: -1;
    }
  }
}