<section [id]="currentLabel" *ngIf="dictionary" class="dark">
  <h2 class="section-title"> {{ dictionary.about.title }} </h2>
  
  <article>
    <p>
      <span class="highlight-text">
        5+
      </span>
      {{ dictionary.about.text_1 }}
    </p>
    <p>
      {{ dictionary.about.text_2 }}
      <span class="highlight-text">
        {{ getTechnology('react') }}
      </span>,
      <span class="highlight-text">
        {{ getTechnology('angular') }}
      </span>,
      <span class="highlight-text">
        {{ getTechnology('vue') }}
      </span>,
      <span class="highlight-text">
        {{ getTechnology('js') }}
      </span>,
      <span class="highlight-text">
        {{ getTechnology('ts') }}
      </span>
      {{ dictionary.about.text_separator }}
      <span class="highlight-text">
        {{ getTechnology('rest') }}
      </span>.
       {{ dictionary.about.text_3 }}
    </p>
    <p>
      {{ dictionary.about.text_4 }}
      <a class="highlight-text underline-text" target="_blank" [href]="getFiapLink()">{{ getUniversityName() }}</a>
       {{ dictionary.about.text_5 }}
      <fa-icon [icon]="icon" />
    </p>
  </article>

  <a class="chip-button" download [href]="returnPath()">
    {{ dictionary.about.button_label }}
  </a>
</section>