@import '../../../../scss/base/variables';

:host {
  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    > p:nth-child(2) {
      margin: var(--spacing-lg) 0;
    }
  }

  button {
    margin-bottom: var(--spacing-lg);
  }

  @media screen and (min-width: $large-screen) {
    article {
      width: 500px;
    }
  }
}