<section [id]="currentLabel" *ngIf="dictionary" class="dark">
  <h2 class="section-title"> {{ dictionary.about.title }} </h2>
  
  <article>
    <p>
      <span class="highlight-text">
        5+
      </span>
      {{ dictionary.about.text_1 }}
    </p>
    <p>
      {{ dictionary.about.text_2 }}
      <span class="highlight-text">
        React
      </span>,
      <span class="highlight-text">
        Angular
      </span>,
      <span class="highlight-text">
        Vue
      </span>,
      <span class="highlight-text">
        JavaScript
      </span>,
      <span class="highlight-text">
        TypeScript
      </span>
      {{ dictionary.about.text_separator }}
      <span class="highlight-text">
        Rest APIs
      </span>
      {{ dictionary.about.text_3 }}
    </p>
    <p>
      {{ dictionary.about.text_4 }}
      <a class="highlight-text underline-text" target="_blank" [href]="getFiapLink()">FIAP</a>
       {{ dictionary.about.text_5 }}
      <fa-icon [icon]="icon" />
    </p>
  </article>

  <a class="chip-button" download [href]="returnPath()">
    {{ dictionary.about.button_label }}
  </a>
</section>