:host {
  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    > p:nth-child(2) {
      margin: var(--spacing-lg) 0;
    }
  }

  button {
    margin-bottom: var(--spacing-lg);
  }
}